[project]
	description = Python project for simplify interaction of other python modules with the file system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group fs-manager-core
[access "refs/for/refs/*"]
	read = group fs-manager-core
	push = group fs-manager-core
	label-Code-Review = -2..+2 group fs-manager-core
	label-Verified = -1..+1 fs-manager-core
	rebase = group fs-manager-core
	removeReviewer = group fs-manager-core
	submit = group fs-manager-core
[access "refs/heads/*"]
	read = group fs-manager-core
	create = group fs-manager-core
	push = +force group fs-manager-core
	pushMerge = group fs-manager-core
[access "refs/tags/*"]
	push = +force group fs-manager-core
	pushTag = group fs-manager-core
	pushSignedTag = group fs-manager-core
