[project]
	description = Python project for simplify interaction of other python modules with the file system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group fs-manager-core
	owner = group user/Daniil Trishkin (FromZeus)
[access "refs/for/refs/*"]
	read = group fs-manager-core
	read = group user/Daniil Trishkin (FromZeus)
	push = group fs-manager-core
	push = group user/Daniil Trishkin (FromZeus)
	label-Code-Review = -2..+2 group fs-manager-core
	label-Code-Review = -2..+2 group user/Daniil Trishkin (FromZeus)
	label-Verified = -1..+1 group fs-manager-core
	label-Verified = -1..+1 group user/Daniil Trishkin (FromZeus)
	rebase = group fs-manager-core
	rebase = group user/Daniil Trishkin (FromZeus)
	removeReviewer = group fs-manager-core
	removeReviewer = group user/Daniil Trishkin (FromZeus)
	submit = group fs-manager-core
	submit = group user/Daniil Trishkin (FromZeus)
[access "refs/heads/*"]
	read = group fs-manager-core
	read = group user/Daniil Trishkin (FromZeus)
	create = group fs-manager-core
	create = group user/Daniil Trishkin (FromZeus)
	push = +force group fs-manager-core
	push = +force group user/Daniil Trishkin (FromZeus)
	pushMerge = group fs-manager-core
	pushMerge = group user/Daniil Trishkin (FromZeus)
[access "refs/tags/*"]
	push = +force group fs-manager-core
	push = +force group user/Daniil Trishkin (FromZeus)
	pushTag = +force group fs-manager-core
	pushTag = group user/Daniil Trishkin (FromZeus)
	pushSignedTag = group fs-manager-core
	pushSignedTag = group user/Daniil Trishkin (FromZeus)
