[project]
	description = Python project for simplify interaction of other python modules with the file system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniil Trishkin (FromZeus)
[access "refs/for/refs/*"]
	read = group user/Daniil Trishkin (FromZeus)
	push = group user/Daniil Trishkin (FromZeus)
	label-Code-Review = -2..+2 group user/Daniil Trishkin (FromZeus)
	label-Verified = -1..+1 group user/Daniil Trishkin (FromZeus)
	rebase = group user/Daniil Trishkin (FromZeus)
	removeReviewer = group user/Daniil Trishkin (FromZeus)
	submit = group user/Daniil Trishkin (FromZeus)
[access "refs/heads/*"]
	read = group user/Daniil Trishkin (FromZeus)
	create = group user/Daniil Trishkin (FromZeus)
	push = +force group user/Daniil Trishkin (FromZeus)
	pushMerge = group user/Daniil Trishkin (FromZeus)
[access "refs/tags/*"]
	push = +force group user/Daniil Trishkin (FromZeus)
	pushTag = group user/Daniil Trishkin (FromZeus)
	pushSignedTag = group user/Daniil Trishkin (FromZeus)
